.die-face {
    display: inline-block;
    width: 42px;
    height: 42px;
}

.die-face.clickable:hover  {
    border: 2px solid #777777;
    cursor: pointer;
}

.disabled {
    filter: grayscale(100%);
    opacity: 0.4;
    cursor: not-allowed;
}