.die-face {
    display: inline-block;
    width: 42px;
    height: 42px;
    border: 2px solid transparent;
}

.die-face:hover {
    border: none;
}

:host-context(.disabled) .die-face:hover {
    border: 2px solid transparent !important;
}
