.heroic-feat-block {
    text-align: center;
}

.heroic-feat {
    width: 120px;
    border-radius: 14px;
}

.heroic-feat-block.disabled {
    filter: grayscale(100%);
    opacity: 0.4;
    cursor: not-allowed;
}
