<div class="step-block">
    <p>{{step.game.getActiveHero().name}}, please select an action to perform.</p>
    <div *ngIf="!step.isDone">
        <button class="btn btn-outline-secondary" (click)="step.selectMakeOfferingToGods()">Make an offering to the Gods</button>
        <button class="btn btn-outline-secondary" (click)="step.selectPerformHeroicFeat()">Perform an Heroic feat</button>
        <button class="btn btn-outline-secondary" (click)="step.decline()">Decline & end turn</button>
    </div>
</div>