<div class="step-block">
    Step: <strong>Active hero selects an action to perform</strong><br/>
    <div *ngIf="!step.isDone; else actionSelected">
        <button (click)="step.selectMakeOfferingToGods()">Make an offering to the Gods</button>
        <button (click)="step.selectPerformHeroicFeat()">Perform an Heroic feat</button>
        <button (click)="step.decline()">Decline & end turn</button>
    </div>
    <ng-template #actionSelected>
        Active hero has selected an action to perform.
    </ng-template>
</div>