<div class="container-fluid">
    <h1 class="title">Dice Forge</h1>

    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div *ngIf="!game.isOver(); else gameOver">
                        Round: <strong>{{game.currentRound}}</strong><br/>
                        Active hero: <strong>{{game.getActiveHero().name}}</strong><br/>
                        <br/>
                        <button (click)="game.endHeroTurn()">End turn</button>
                    </div>
                    <ng-template #gameOver>
                        The game is over.<br/>
                        <br/>
                        Winner(s): <strong *ngFor="let hero of game.getWinners()">{{hero.name}} </strong>
                    </ng-template>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <hero-list [heroes]="game.heroes"></hero-list>
            <!--<div class="row">-->
            <!--<div class="col-md-4" *ngFor="let hero of game.heroes">-->
            <!--<hero-detail [hero]="hero"></hero-detail>-->
            <!--</div>-->
            <!--</div>-->
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <sanctuary-detail [sanctuary]="game.sanctuary"></sanctuary-detail>
        </div>
    </div>
</div>

