<div class="card">
    <div class="card-header">
        Sanctuary
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-1 mt-2" *ngFor="let pool of sanctuary.pools">
                <div [ngClass]="{'card-text': true, 'disabled': budget != null && budget < pool.dieFaceCost}" >
                    <div><img class="resource" [src]="imageFolder + 'resources/gold-nugget.png'" /> {{pool.dieFaceCost}}</div>
                    <die-face-detail *ngFor="let dieFace of pool.dieFaces" [dieFace]="dieFace"></die-face-detail>
                </div>
            </div>
        </div>
    </div>
</div>