<div class="card">
    <div class="card-header">
        Sanctuary
    </div>
    <div class="card-body">
        <div class="row">
            <ng-container *ngFor="let pool of sanctuary.pools">
                <div class="col-md-1 mt-2" *ngIf="pool.dieFaces.length">
                    <div><img class="resource" [src]="imageFolder + 'resources/gold-nugget.png'"/> {{pool.dieFaceCost}}</div>
                    <ng-container *ngFor="let dieFace of pool.dieFaces"><die-face-detail [dieFace]="dieFace" [disableIfCostAbove]="disableFacesAboveCost" [disableIfSimilarTo]="disableFacesSimilarTo" [clickCallback]="clickCallback"></die-face-detail></ng-container>
                </div>
            </ng-container>
        </div>
    </div>
</div>