<div *ngIf="!step.rollHeroBothDiceStep.isDone; else bothDiceRolled">
    <roll-hero-both-dice-step [step]="step.rollHeroBothDiceStep"></roll-hero-both-dice-step>
</div>
<ng-template #bothDiceRolled>
    <p>{{step.hero.name}}, please select the resources you want to gain.</p>
    <div class="row">
        <div class="col-md-6">
            <hr/>
            <apply-die-face-effects-step [step]="step.applyLightDieFaceEffectsStep"></apply-die-face-effects-step>
        </div>
        <div class="col-md-6">
            <hr/>
            <apply-die-face-effects-step [step]="step.applyDarkDieFaceEffectsStep"></apply-die-face-effects-step>
        </div>
    </div>
</ng-template>
