<div class="step-block">
    <div *ngIf="!step.isDone; else effectApplied">
        <div *ngIf="step.dieFace.type == 0">
            <die-face-detail [dieFace]="step.dieFace"></die-face-detail>
            <button class="btn btn-outline-secondary btn-resource" (click)="step.applyAllDieFaceResources()">
                <span *ngIf="step.dieFace.goldNuggetsQuantity > 0">{{step.dieFace.goldNuggetsQuantity}} <img class="resource" [src]="imageFolder + 'resources/gold-nugget.png'"/></span>
                <span *ngIf="step.dieFace.sunShardsQuantity > 0">{{step.dieFace.sunShardsQuantity}} <img class="resource" [src]="imageFolder + 'resources/sun-shard.png'"/></span>
                <span *ngIf="step.dieFace.moonShardsQuantity > 0">{{step.dieFace.moonShardsQuantity}} <img class="resource" [src]="imageFolder + 'resources/moon-shard.png'"/></span>
                <span *ngIf="step.dieFace.gloryPointsQuantity > 0">{{step.dieFace.gloryPointsQuantity}} <img class="resource" [src]="imageFolder + 'resources/glory-point.png'"/></span>
            </button>
        </div>
        <div *ngIf="step.dieFace.type == 1">
            <die-face-detail [dieFace]="step.dieFace"></die-face-detail>
            <button class="btn btn-outline-secondary btn-resource" *ngIf="step.dieFace.goldNuggetsQuantity > 0" (click)="step.takeGoldNuggets()">{{step.dieFace.goldNuggetsQuantity}} <img class="resource" [src]="imageFolder + 'resources/gold-nugget.png'"/></button>
            <button class="btn btn-outline-secondary btn-resource" *ngIf="step.dieFace.sunShardsQuantity > 0" (click)="step.takeSunShards()">{{step.dieFace.sunShardsQuantity}} <img class="resource" [src]="imageFolder + 'resources/sun-shard.png'"/></button>
            <button class="btn btn-outline-secondary btn-resource" *ngIf="step.dieFace.moonShardsQuantity > 0" (click)="step.takeMoonShards()">{{step.dieFace.moonShardsQuantity}} <img class="resource" [src]="imageFolder + 'resources/moon-shard.png'"/></button>
            <button class="btn btn-outline-secondary btn-resource" *ngIf="step.dieFace.gloryPointsQuantity > 0" (click)="step.takeGloryPoints()">{{step.dieFace.gloryPointsQuantity}} <img class="resource" [src]="imageFolder + 'resources/glory-point.png'"/></button>
        </div>
    </div>
    <ng-template #effectApplied>
        <die-face-detail [dieFace]="step.dieFace"></die-face-detail>
    </ng-template>
</div>