<div class="card">
    <div class="card-body">
        <div *ngIf="!game.isOver(); else gameOver">
            Round: <strong>{{game.currentRound}}</strong><br/>
            Active hero: <strong>{{game.getActiveHero().name}}</strong><br/>

            <div *ngIf="game.currentStep.TYPE == 0">
                <receive-divine-blessings-step [step]="game.currentStep"></receive-divine-blessings-step>
            </div>
            <div *ngIf="game.currentStep.TYPE == 1">
                <call-for-reinforcements-step [step]="game.currentStep"></call-for-reinforcements-step>
            </div>
        </div>
        <ng-template #gameOver>
            The game is over.<br/>
            <br/>
            Winner(s): <strong *ngFor="let hero of game.getWinners()">{{hero.name}} </strong>
        </ng-template>
    </div>
</div>
