<div class="step-block">
    <p>{{step.hero.name}}, you may spend 2 <img class="resource" [src]="imageFolder + 'resources/sun-shard.png'"/> and select an extra action to perform.</p>
    <div *ngIf="!step.isDone">
        <button class="btn btn-outline-secondary" (click)="step.selectMakeOfferingToGods()">Make an offering to the Gods</button>
        <button class="btn btn-outline-secondary" (click)="step.selectPerformHeroicFeat()">Perform an Heroic feat</button>
        <button class="btn btn-outline-secondary" (click)="step.decline()">Decline & end turn</button>
    </div>
</div>