<div class="step-block">
    <div *ngIf="!step.isDone">
        <ng-container *ngIf="step.canActiveHeroMakeOfferingToGods() && step.canActiveHeroPerformHeroicFeat(); else notBothActions">
            <p>{{step.game.getActiveHero().name}}, you may spend 2 <img class="resource" [src]="imageFolder + 'resources/sun-shard.png'"/> and select an extra action to perform.</p>
        </ng-container>
        <ng-template #notBothActions>
            <ng-container *ngIf="step.canActiveHeroMakeOfferingToGods() || step.canActiveHeroPerformHeroicFeat(); else noActionAtAll">
                <p>{{step.game.getActiveHero().name}}, you may spend 2 <img class="resource" [src]="imageFolder + 'resources/sun-shard.png'"/> to perform the only action currently available to you.</p>
            </ng-container>
            <ng-template #noActionAtAll>
                <p>{{step.game.getActiveHero().name}}, you can't currently afford an extra action.</p>
                <button class="btn btn-outline-secondary" (click)="step.finish()">Got it</button>
            </ng-template>
        </ng-template>

        <ng-container *ngIf="step.canActiveHeroMakeOfferingToGods(); else cannotAffordOfferingToGods">
            <button class="btn btn-outline-secondary" (click)="step.selectMakeOfferingToGods()">Make an offering to the Gods</button>
        </ng-container>
        <ng-template #cannotAffordOfferingToGods>
            <button class="btn btn-outline-secondary" disabled>Make an offering to the Gods</button>
        </ng-template>

        <ng-container *ngIf="step.canActiveHeroPerformHeroicFeat(); else cannotAffordHeroicFeat">
            <button class="btn btn-outline-secondary" (click)="step.selectPerformHeroicFeat()">Perform an Heroic feat</button>
        </ng-container>
        <ng-template #cannotAffordHeroicFeat>
            <button class="btn btn-outline-secondary" disabled>Perform an Heroic feat</button>
        </ng-template>

        <ng-container *ngIf="step.canActiveHeroMakeOfferingToGods() || step.canActiveHeroPerformHeroicFeat()">
            <hr/>
            <button class="btn btn-outline-secondary" (click)="step.finish()">Decline & end turn</button>
        </ng-container>
    </div>
</div>
